// Font Family
$font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Basic Colors
$white: #ffffff;
$black: #000000;

// Brand Colors
$primary-color: #1A2B60; 
$primary-color-dark: #01144E;
$secondary-color: #ed3810;
$secondary-color-dark: #610706;
$light: #f0f1f2;
$light-dark: #e2e3e4;